%script{:src => "/assets/javascripts/jquery.min.js"}
%script{:src => "/assets/javascripts/skel.min.js"}
%script{:src => "/assets/javascripts/util.js"}
/[if lte IE 8] <script src="/assets/javascripts/ie/respond.min.js"></script>
%script{:src => "/assets/javascripts/main.js"}
